# Class
snippet cla Class...
	class ${1:name}
	  constructor: (${2:params...}) ->
	    ${3://body...}

snippet cla Class...Extends
	class ${1:name} extends ${2:parent}
	  constructor: (${3:params...}) ->
	    ${4://body...}

# Function
snippet fun
	${1:function_name} = (${2:argumen}) ->
	  ${3: //body...}

snippet func
	${1:function_name} = (${2:argumen}) ->
	  ${3: //body...}
