snippet jstemplate
	<script type="text/template" id="${1}-template">
	  ${2}
	</script>${3}
snippet js
	<script type="text/javascript" charset="utf-8">
	  ${1}
	</script>${2}
snippet jssrc
	<script src="${1}.js" type="text/javascript" charset="utf-8"></script>${2}
snippet css
	<style type="text/css" media="${1:screen}">
	  ${2}
	</style>${3}
snippet br
	<br />
