snippet link
	[${1:description}](${2:url})${3}
snippet image
	![${1:alt text](${2:image path})${3}
snippet code Ruby
	{language=ruby}${1}
snippet code Ruby IRB
	{language=irb}${1}
snippet code Shell Session
	{language=console}${1}
