[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = git://github.com/msanders/cocoa.vim.git
        ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
        ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-coffeescript"]
	path = bundle/vim-coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = git://github.com/greyblake/vim-preview.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
        ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
        ignore = untracked
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
        ignore = untracked
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "bundle/haskell.vim"]
	path = bundle/haskell.vim
	url = git://github.com/vim-scripts/haskell.vim.git
[submodule "bundle/vim-scss"]
	path = bundle/vim-scss
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-sass"]
	path = bundle/vim-sass
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-minitest"]
	path = bundle/vim-minitest
	url = git://github.com/sunaku/vim-ruby-minitest.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-jst"]
	path = bundle/vim-jst
	url = git://github.com/briancollins/vim-jst.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
        ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
        ignore = untracked
[submodule "bundle/vim-presen"]
	path = bundle/vim-presen
	url = git://github.com/sorah/presen.vim.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = git://github.com/vim-scripts/calendar.vim--Matsumoto.git
